
@{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/js/admTable.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/modal.css" />
}

<script>
    var urlGetIdentityUserAdm = '@Url.Action("GetIdentityUserAdm", "Admin")';
    var urlGetNameTables = '@Url.Action("GetNameTables", "Admin")';
    var urlGetRegisterTable = '@Url.Action("GetRegisterTable","Admin")';
    var urlInsertRegisterTable = '@Url.Action("InsertRegisterTable","Admin")';
    var urlDeleteRegisterTable = '@Url.Action("DeleteRegisterTable", "Admin")';
</script>

<input type="hidden" />

<div class="container" style="margin-top:3%;">

    <div class="row col-md-6">
        <input type="submit" class="btn btn-light" value="Inicio" onclick="inicio();" />
        <input type="submit" class="btn btn-light" value="Localidades / Pais" onclick="goToCountry();" /><br /><br />
    </div>

    <hr />

    <div class="row text-center">

        <div class="col-md-4">
            <label>Nombre Tablas</label>
        </div>
        <div class="col-md-8">
            <select id="tables" onchange="buscarRegistros()" class="form form-control" style="width:300px;"></select>
        </div>
    </div>

    <br />

    <div style="text-align:center;">
        <table id="tablaPortada" class="table table-hover" style="text-align:center;">
            <thead></thead>
            <tbody></tbody>
        </table>

        <br />

        <div class="col-md-12">
            <input type='submit' id="new" class='btn btn-primary' onClick='nuevo()' value='Nuevo' style="width:100%" />
        </div>

    </div>

</div>


<div class="container text-center">

    <div id="modal" class="modalTipo">
        <div class="modal-content">
            <div class="formulario-campo">

                <label style="font-size:16px;text-align:justify;">Descripcion</label>
                <input type='text' id="_item" class='form form-control' placeholder="Ingrese descripcion..." style="text-align:justify;" />
                <input type="hidden" id="_tabla" />
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <input type='submit' class='btn btn-success float-left' onClick='nuevoItem();' value='Aceptar' />
                    </div>

                    <div class="col-md-6">
                        <input type='submit' class='btn btn-danger float-right' onClick='cancelar();' value='Cancelar' />
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



